.login {
  background: url('/images/bg-register-w1440.jpg');
  background-size: clamp(1440px, 100vw, 1920px) auto;
  background-position: center center;
  background-repeat: no-repeat;

  &__content {
    display: flex;
    height: var(--register-height);
    justify-content: center;
    align-items: center;
  }
}
