@use '../../styles/text' as text;

.icon-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--gap-sm);

  &__icon {
    flex-shrink: 0;
    flex-grow: 0;

    background: var(--lg-primary);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__description {
    @include text.p-text;

    margin: 0;
  }
}
