@use 'sass:math' as math;
@use 'sass:meta' as meta;
@use './shared' as *;

@layer reset {
  fieldset {
    display: block;
    width: 100%;
    min-width: 0;
    margin: 0;
    padding: 0;
    border: 0;
  }

  legend {
    display: table;
    padding: 0;
  }

  ul,
  ol {
    margin: 0;
    padding: 0;

    list-style: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  :where(button, [role='button'], input, label, summary):focus-visible {
    outline: none;
  }

  body {
    margin: 0;
  }

  button {
    margin: 0;
    padding: 0;
    border: none;

    background-color: transparent;

    &:focus-visible {
      outline: none;
    }
  }

  input {
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
}

@layer utilities {
  .u-ghost-center::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .u-non-selectable {
    -webkit-user-select: none;
    user-select: none;
  }

  .u-visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  .u-shimmer {
    @extend %shimmer;
    position: absolute;
    inset: 0;
  }
}
