@use '../../styles/text' as text;

.icon {
  &--font {
    &-material {
      @include text.material-icons();
    }

    &-awesome {
      width: 100%;
      height: 100%;

      &::before {
        @include text.awesome-icons();

        content: attr(data-icon-name);
        display: inline-block;
      }
    }
  }

  &--size {
    &-sm {
      font-size: var(--icon-size-sm);
    }

    &-lg {
      font-size: var(--icon-size-lg);
    }

    &-xl {
      font-size: var(--icon-size-xl);
    }
  }
}
