@use '../../styles/text' as text;

.navbar {
  height: 100%;

  background-color: var(--color-surface);

  &__menu {
    display: flex;
    align-items: stretch;
    gap: 1rem;
    height: 100%;
  }

  &__item {
    @include text.p-text;

    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__item-head {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__submenu-toggle {
    width: var(--icon-size-sm);
    height: var(--icon-size-sm);

    color: var(--fc-muted);
    cursor: pointer;

    &:focus-visible {
      box-shadow: var(--focus-shadow-inset);
    }

    &:hover,
    &:focus-visible {
      color: var(--fc-standard);
    }

    &--active {
      color: var(--fc-standard);
    }
  }

  &__submenu {
    position: absolute;
    z-index: 1;
    top: calc(100% + var(--gap-xs));
    padding: 0.625rem;
    border: var(--field-border-w) solid var(--color-foreground-12);
    visibility: hidden;
    opacity: 0;

    border-radius: var(--field-border-radius);
    background-color: var(--color-surface);
    box-shadow: var(--card-shadow);

    transition: all var(--anim-standard);

    &--expanded {
      visibility: visible;
      opacity: 1;
    }
  }

  &__submenu-item {
    @include text.p-text;

    position: relative;
    min-width: max-content;
    height: 100%;
    padding-block: 0.5rem;
  }

  &__submenu-link {
    padding-inline: 1rem;
  }
}
