@use '../../styles/text' as text;

.footer {
  --footer-side-fb: 260px;
  --footer-fb: 200px;

  width: 100%;
  border-top: 1px solid var(--color-foreground-10);

  background-color: var(--color-surface);

  &__top {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: var(--gap-xl);
    width: var(--layout-w-clamp);
    padding-block: 100px;
    padding-inline: var(--layout-gutter-clamp);

    @media (max-width: 1024px) {
      flex-direction: column;
      gap: var(--gap-lg);

      & > .footer__info,
      & > .footer__nav,
      & > .footer__subscription {
        flex-basis: auto;
      }

      & > .footer__nav {
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
  }

  &__info {
    flex: 0 1 var(--footer-side-fb);
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
  }

  &__logo {
    width: fit-content;

    &:focus-visible {
      outline: none;
      box-shadow: var(--focus-shadow);
    }
  }

  &__idea {
    @include text.p-text;
  }

  &__nav {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
  }

  &__nav-group {
    flex: 0 1 var(--footer-fb);
  }

  &__nav-group-items {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
    margin-top: var(--gap-md);
  }

  &__nav-group-item {
    @include text.p-text;

    font-size: var(--fz-p);
    line-height: 1.125rem;
  }

  &__subscription {
    flex: 0 1 var(--footer-side-fb);
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
  }

  &__subscription-text {
    @include text.p-text;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--layout-w-clamp);
    padding-block: 23px;
    padding-inline: var(--layout-gutter-clamp);
    margin-top: 1px;

    background-color: var(--color-surface);
    box-shadow: var(--card-shadow);

    @media (max-width: 768px) {
      flex-direction: column;
      justify-content: space-evenly;
      gap: var(--gap-md);

      text-align: center;
    }
  }
}
